<body>

  <div class=pag>
    <div class="general">
      <div align="center">
        <hr>
        <br>
        <b>
          Consulta sobre ventas de carros en Colombia
        </b>
      </div>
      <br>
      <br>

      <mat-form-field>
        <mat-label>Busqueda</mat-label>
        <input matInput placeholder="Ej: BMW" [(ngModel)]="texto">
      </mat-form-field>

      <p>
        <button mat-raised-button color="primary" class="boton" (click)="PostAutoIA()">Consultar</button>
      </p>
      <br>
      <br>

      <div class="resultado">
        <div *ngFor="let item of respuesta">
          <div *ngFor="let item2 of item" class="resultado">
            <div *ngFor="let item3 of item2">
              <hr>
              <p>Relación: {{item3.type}}</p>
              <hr>
              <p>Frase: {{item3.sentence}}</p>
              <hr>
              <div *ngFor="let item4 of item3.arguments">
                <div *ngFor="let item5 of item4.entities">
                  <p>{{item5.type}}: {{item5.text}}</p>
                </div>
              </div>
            </div>
            <br>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

</body>