.pag
{
  box-shadow: 2px 2px 5px #999;
  width:1000px;
  margin:0px auto;
  background-color: rgb(226, 226, 253);

}


.general
{

  width:370px;
  margin:0px auto;
  font-size: large;

}


.resultado{
  box-shadow: 2px 2px 5px #999;

}